name: mom6_obgc_1d

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: clouden90/1d_mom6_cobalt:base
      options: --user=root
        
    env:
      PR_NUMBER: ${{ github.event.number }}

    steps:        
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        
    - name: Build mom6-sis2-cobalt
      run: |
        apt update; apt install -y wget
        echo "build mom6-sis2-cobalt ..."
        cd ./builds
        ./linux-build.bash -m docker -p linux-gnu -t prod -f mom6sis2

    - name: Download 1d model dataset
      run: | 
       cd ./exps
       wget ftp.gfdl.noaa.gov:/pub/Yi-cheng.Teng/1d_datasets.tar.gz && tar -zxvf 1d_datasets.tar.gz && rm -rf 1d_datasets.tar.gz

    - name: Run 1D toy case and check repro across restarts
      run: | 
       cd exps/OM4.single_column.COBALT
       #mpirun --allow-run-as-root -np 1 ../../builds/build/docker-linux-gnu/ocean_ice/prod/MOM6SIS2
       ./driver.sh 

    - name: Check ref
      run: | 
       cd exps/OM4.single_column.COBALT
       cat ./RESTART_48hrs/ocean.stats
       #diff -q ref/ocean.stats ./RESTART_48hrs/ocean.stats > /dev/null || { echo "Error: ocean.stats are different, check and update ref! Exiting now..."; exit 1; }
